---
import { Icon } from 'astro-icon';
import i18next,{ t } from "i18next";

const faqQuestions = [
  {
    id:'accordion-collapse-heading-1',
    question: t("FAQS.FIRST_QUESTION"),
    answer: t("FAQS.FIRST_ANSWER"),
    triggerEl: "accordion-collapse-heading-1",
    targetEl: "accordion-collapse-body-1",
    },
  {
    id:'accordion-collapse-heading-2',
    question: t("FAQS.SECOND_QUESTION"),
    answer:t("FAQS.COMMON_ANSWER"),
    triggerEl: "accordion-collapse-heading-2",
    targetEl: "accordion-collapse-body-2",
    },
  {
    id:'accordion-collapse-heading-3',
    question: t("FAQS.THIRD_QUESTION"),
    answer:t("FAQS.COMMON_ANSWER"),
    triggerEl: "accordion-collapse-heading-3",
    targetEl: "accordion-collapse-body-3",
    },
  {
    id:'accordion-collapse-heading-4',
    question: t("FAQS.FOUR_QUESTION"),
    answer:t("FAQS.COMMON_ANSWER"),
    triggerEl: "accordion-collapse-heading-4",
    targetEl: "accordion-collapse-body-4",
  },
  {
    id:'accordion-collapse-heading-5',
    question: t("FAQS.FIVE_QUESTION"),
    answer:t("FAQS.COMMON_ANSWER"),
    triggerEl: "accordion-collapse-heading-5",
    targetEl: "accordion-collapse-body-5",
  },
  {
    id:'accordion-collapse-heading-6',
    question: t("FAQS.SIX_QUESTION"),
    answer:t("FAQS.COMMON_ANSWER"),
    triggerEl: "accordion-collapse-heading-6",
    targetEl: "accordion-collapse-body-6",
  },
  {
    id:'accordion-collapse-heading-7',
    question: t("FAQS.SEVEN_QUESTION"),
    answer:t("FAQS.COMMON_ANSWER"),
    triggerEl: "accordion-collapse-heading-7",
    targetEl: "accordion-collapse-body-7",
  }

]

// if (typeof window !== "undefined") {
//    return console.log('sdfa', faqQuestions)
// }
// let faqs;
// if (i18next.language==='ar') {
//   faqs = await Astro.glob('../../pages/faqs/ar/*.{md,mdx}');
// } else {
//   faqs = await Astro.glob('../../pages/faqs/en/*.{md,mdx}');
// }
// const faqContent = faqs.map((faq) => faq);

---
<div class="px-3 md:px-0">
  <h2 class="my-10 text-3xl sm:text-4xl md:text-6xl font-fBold tracking-tight text-gray-900 text-center">{t("FAQS.FAQ_TITLE")}</h2>
 <div class="max-w-6xl mx-auto">
    {faqQuestions.map((demoQsn)=> {
      return (
      <div id="accordion-collapse" data-accordion="collapse" class="bg-white rounded-2xl shadow-sm"> 
          <h2 id={demoQsn.id}>
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium 
            text-left text-gray-500" 
            data-accordion-target={`#${demoQsn.targetEl}`} aria-expanded={demoQsn.id==='accordion-collapse-heading-1' ? "true" : "false" }
            aria-controls={demoQsn.targetEl}>
              <span class="text-sm text-slate-700 font-fSBold">{demoQsn.question}</span>
              <Icon data-accordion-icon name="ic:baseline-arrow-circle-down" 
              class={`${demoQsn.id === demoQsn.answer ? "rotate-180":"rotate-0"} text-slate-700 w-6 h-6 shrink-0`} />
            </button>
          </h2>
          <div id={demoQsn.targetEl} class="hidden" aria-labelledby={demoQsn.id}>
            <div class="p-5 font-light">
              <p class="mb-2 text-gray-500 font-fMedium">{demoQsn.answer}</p>    
            </div>
         </div>
      </div>
      )
    })
   }
 </div>
</div>