---
import { Icon } from 'astro-icon';

const faqQuestions = [
  {
    id:'accordion-collapse-heading-1',
    question: "What is Tweeq?",
    answer:
     "Tweeq is a Saudi financial technology company created to contribute to building a thriving digital financial sector by developing Tweeq application, which will enable you to open an account and obtain an electronic payment card in addition to conducting all your daily transactions such as payments, transfers, cash withdrawals and much more without visiting any branch.",
    triggerEl: "accordion-collapse-heading-1",
    targetEl: "accordion-collapse-body-1",
    },
  {
    id:'accordion-collapse-heading-2',
    question: "What is Tweeq account?",
    answer:
      "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
    triggerEl: "accordion-collapse-heading-2",
    targetEl: "accordion-collapse-body-2",
    },
  {
    id:'accordion-collapse-heading-3',
    question: "What makes Tweeq account different from a bank account?",
    answer:
      "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
    triggerEl: "accordion-collapse-heading-3",
    targetEl: "accordion-collapse-body-3",
    },
  {
    id:'accordion-collapse-heading-4',
    question: "Why Tweeq don’t they have any branches?",
    answer:
      "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
    triggerEl: "accordion-collapse-heading-4",
    targetEl: "accordion-collapse-body-4",
  },
  {
    id:'accordion-collapse-heading-5',
    question: "What services can/will be provided by Tweeq?",
    answer:
      "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
    triggerEl: "accordion-collapse-heading-5",
    targetEl: "accordion-collapse-body-5",
  },
  {
    id:'accordion-collapse-heading-6',
    question: "Can I use my Tweeq account for business purposes?",
    answer:
      "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
    triggerEl: "accordion-collapse-heading-6",
    targetEl: "accordion-collapse-body-6",
  },
  {
    id:'accordion-collapse-heading-7',
    question: "Can I access my Tweeq account from the web?",
    answer:
      "I don't know, but the flag is a big plus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cupiditate laboriosam fugiat.",
    triggerEl: "accordion-collapse-heading-7",
    targetEl: "accordion-collapse-body-7",
  }

]

// if (typeof window !== "undefined") {
//    return console.log('sdfa', faqQuestions)
// }

---

<div class="px-3 md:px-0">
  <h2 class="my-10 text-3xl sm:text-4xl md:text-6xl font-extrabold tracking-tight text-gray-900 text-center">Frequenty asked questions</h2>
 <div class="max-w-6xl mx-auto">
      <!-- <div id="accordion-collapse" data-accordion="collapse" class="bg-white rounded-3xl shadow-sm">
        <h2 id="accordion-collapse-heading-1">
          <button type="button" class="flex items-center justify-between w-full p-5 font-medium text-left
          text-gray-500"
            data-accordion-target="#accordion-collapse-body-1" aria-expanded="true"
              aria-controls="accordion-collapse-body-1">
            <span class="text-sm text-slate-700">What is Tweeq?</span>
            <Icon data-accordion-icon name="ic:baseline-arrow-circle-down" class="text-slate-700 w-6 h-6 rotate-180 shrink-0" />
          </button>
        </h2>
        <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
          <div class="p-5 font-light">
            <p class="mb-2 text-gray-500">
              Tweeq is a Saudi financial technology company created to contribute to building a thriving digital financial sector by developing Tweeq application, which will enable you to open an account and obtain an electronic payment card in addition to conducting all your daily transactions such as payments, transfers, cash withdrawals and much more without visiting any branch.
            </p>
          </div>
        </div>
    </div> -->
    {faqQuestions.map((demoQsn)=> {
      return (
      <div id="accordion-collapse" data-accordion="collapse" class="bg-white rounded-2xl shadow-sm"> 
          <h2 id={demoQsn.id}>
            <button type="button" class="flex items-center justify-between w-full p-5 font-medium 
            text-left text-gray-500" 
            data-accordion-target={`#${demoQsn.targetEl}`} aria-expanded={demoQsn.id==='accordion-collapse-heading-1' ? "true" : "false" }
            aria-controls={demoQsn.targetEl}>
              <span class="text-sm text-slate-700">{demoQsn.question}</span>
              <Icon data-accordion-icon name="ic:baseline-arrow-circle-down" 
              class={`${demoQsn.answer === demoQsn.targetEl ? "-rotate-180":"rotate-0"} text-slate-700 w-6 h-6 shrink-0`} />
            </button>
          </h2>
          <div id={demoQsn.targetEl} class="hidden" aria-labelledby={demoQsn.id}>
            <div class="p-5 font-light">
              <p class="mb-2 text-gray-500">{demoQsn.answer}</p>    
            </div>
         </div>
      </div>
      )
    })
   }
 </div>
</div>

