---
import i18next, { changeLanguage } from "i18next";
import Header from "../../components/Home/Header.astro";
import Layout from "../../layouts/Layout.astro";
import Footer from "../../components/Home/Footer.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob("../posts/en/*.{md,mdx}");
    return posts?.map((post: any) => ({
        params: {
            slug: post.frontmatter.slug,
        },
        props: {
            post,
        },
    }));
}
const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <Header />
    <main dir="ltr" class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
        <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
            <article
                class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue"
            >
                <header class="mb-4 lg:mb-6 not-format">
                    <address class="flex items-center mb-6 not-italic">
                        <div
                            class="inline-flex items-center mr-3 text-sm text-gray-900"
                        >
                            <img
                                class="mr-4 w-16 h-16 rounded-full"
                                src={`../src/${frontmatter.thumbnail}`}
                                alt="profile"
                            />
                            <div>
                                <a
                                    href="#"
                                    rel="author"
                                    class="text-xl no-underline font-bold text-gray-900"
                                    >{frontmatter.author}</a
                                >
                                <p class="text-base font-light text-gray-500">
                                    Graphic Designer
                                </p>
                                <p class="text-base font-light text-gray-500">
                                    <time
                                        datetime="2022-02-08"
                                        title="February 8th, 2022"
                                        >{frontmatter.date}</time
                                    >
                                </p>
                            </div>
                        </div>
                    </address>
                    <!-- <h3 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl ">{frontmatter.title}</h3> -->
                </header>
                <Content />
            </article>
        </div>
    </main>

    <Footer />
</Layout>
