---
import i18next from "i18next";
import { Icon } from 'astro-icon';
export async function getStaticPaths() {
    const posts = await Astro.glob('./posts/**/*.{md,mdx}');
    return posts?.map((post:any)=> ({
        params: {
            slug: post.frontmatter.slug,
        },
    }));
}
const {slug} = Astro.params;
const {category} = Astro.props;
const homeUrl = i18next.language === 'ar'? '/ar/' : '/';
---
<nav class="flex -ml-5" aria-label="Breadcrumb">
    <ol role="list" class="flex items-center space-x-4 list-none">
      <li>
        <div>
          <a href={`${homeUrl}`} class="text-gray-400 hover:text-gray-500 ">
            <!-- <svg class="flex-shrink-0 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg> -->
            <span class="text-sm font-fMedium text-blue-600 hover:text-gray-500">Help</span>
          </a>
        </div>
      </li>
  
      <li>
        <div class="flex items-center">
            <Icon name="ic:twotone-chevron-right" class="flex-shrink-0 h-5 w-5 text-gray-400" />
          <a href={`${slug}`} class="mx-4 text-sm font-fMedium text-gray-500 hover:text-blue-600">{category.category}</a>
        </div>
      </li>
  
      <li>
        <div class="flex items-center">
            <Icon name="ic:twotone-chevron-right" class="flex-shrink-0 h-5 w-5 text-gray-400" />
          <a href={category.slug} class="mx-4 text-sm font-fMedium text-gray-500 hover:text-blue-600" aria-current="page">{slug}</a>
        </div>
      </li>
    </ol>
  </nav>