---
import { changeLanguage } from "i18next";
import BreadCumbs from '../../components/BreadCumbs/BreadCumbs.astro';
import Footer from "../../components/Shared/Footer.astro";
import Layout from "../../layouts/Layout.astro";

export interface Props {
  name: string;
  title: string;
  category: string;
  author: string;
  excerpt: string;
  slug: string;
}
const posts = await Astro.glob('../posts/ar/**/*.{md,mdx}');
const allCategories = posts.filter((post) => post.frontmatter.category !== undefined).map((cat) => cat.frontmatter.category);
const unique = allCategories.filter((v, i, a) => a.indexOf(v) === i)

const categories = unique.map((category:Props) => {
  const customizedCategory = posts.filter(
    (post) => {
      if(post.frontmatter.category !== undefined){
        if( post.frontmatter.category === category){
          const item = {
          category: category,
          title: post?.frontmatter?.title,
          author: post?.frontmatter?.author,
          excerpt: post?.frontmatter?.excerpt,
          slug: post?.frontmatter?.slug,
        };
        return item;
        }
      }
     }
  );
return {name: category, posts:customizedCategory}
});

export async function getStaticPaths() {
    const posts = await Astro.glob('../posts/ar/*.{md,mdx}');
    return posts?.map((post:any)=> ({
        params: {
            slug: post.frontmatter.slug
        },
        props:{
            post
        }
    }));
}
const{ Content, frontmatter} = Astro.props.post;
changeLanguage('ar');
---

<Layout title={frontmatter.slug}>
    <main dir="rtl" class="pt-8 pb-16 lg:pt-16 lg:pb-24">
        <div class="flex items-start justify-between gap-5 px-4 mx-auto max-w-6xl">
            <div class="md:w-3/12 hidden md:block  rounded-3xl h-auto bg-white shadow-sm px-5 py-5">
              {
                categories.map((cat:any) => {
                  return (
                  <div id="accordion-collapse" data-accordion="collapse" class="">
                    <h2 id={frontmatter.slug}>
                      <button type="button" class="flex items-center justify-between w-full font-medium 
                      text-left text-gray-500 dark:text-transparent dark:bg-transparent" 
                      data-accordion-target={`#${cat.name.split(" ").join("")}`} aria-expanded={`${cat.name === frontmatter.category ? "true":"false"}`} 
                      aria-controls={cat.name.split(" ").join("")}>
                        <span class="text-sm text-slate-800 font-medium">{cat.name}</span>
                        <span data-accordion-icon class="material-symbols-outlined" class={`${cat.name === frontmatter.category ? "-!rotate-180" : 
                        "rotate-0"} text-slate-700 w-6 h-6 shrink-0`}>
                          expand_circle_down
                          </span>
                      </button>
                    </h2>
                    <div id={cat.name.split(" ").join("")} class="hidden" aria-labelledby={frontmatter.slug}>    
                    {
                      cat.posts.map((post:any) => {
                        return(
                        <ul class="text-gray-500 list-none">
                                <li >
                                <a href={`/ar/${post.frontmatter.slug}`} class={`${frontmatter.slug === post.frontmatter.slug ? "text-blue-600": "hover:text-blue-600 text-slate-500 no-underline text-sm font-light"}`}>{post.frontmatter.title}</a>
                                </li>
                            </ul>
                        )
                      })
                    } 
                  </div>
                </div>
                  )
                })
              }
        </div>
            <article class="px-9 py-5 format format-sm sm:format-base lg:format-lg format-blue bg-white shadow-sm rounded-3xl md:w-9/12 w-full">
                <BreadCumbs category={frontmatter}/>
                <Content />           
            </article>
        </div>
      </main>  
<Footer />
</Layout>
